{% extends 'main4/layout.html' %}

{% block title %}Forma po dobavleniu statii{% endblock %}

{% block content %}
    <div class="features">
        <h1>Forma po dobavleniu statii</h1>
        <form method="post">
            <input type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Анонс статьи" class="form-control"><br>
            <textarea type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Название статьи" class="form-control"><br>

        </form>
    </div>
{% endblock %}